<form id="registerForm">
  <div class="form-floating">
    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="firstname">
    <label for="floatingInput">First name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="lastname">
    <label for="floatingInput">Last name</label>
    <div id="helpText" class="form-text">Make sure it matches the name on your government ID.</div>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="dob">
    <label for="floatingInput">Date of birth</label>
    <div id="helpText" class="form-text">To sign up, you need to be at least 18. Your birthday won’t be shared with other people who use Airbnb.</div>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name = "checkType" id="exampleRadios1" value="host" >
    <label class="form-check-label" id="check-label" for="flexCheckDefault">Host</label>
  </div>
  <div class="form-check mb-3">
    <input class="form-check-input" type="radio" name ="checkType" id="exampleRadios2" value = "user">
    <label class="form-check-label" id="check-label" for="flexCheckDefault">User</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
    <label for="floatingInput">Email</label>
    <div id="helpText" class="form-text">We'll email you trip confirmations and receipts.</div>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="phone">
    <label for="floatingInput">Phone Number</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="country">
    <label for="floatingInput">Country</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com" name="password">
    <label for="floatingInput">Password</label>
    <div id="helpText" class="form-text">By selecting Agree and continue, I agree to Airbnb’s Terms of Service, Payments Terms of Service, and Nondiscrimination Policy and acknowledge the Privacy Policy.</div>
  </div>
  <div class="mb-4">
    <button class="btn" id="authSubmit">Agree and continue</button>
  </div>
  <hr>
  <div id="helpText" class="form-text mb-2">
    Airbnb will send you members-only deals, inspiration, marketing emails, and push notifications. You can opt out of receiving these at any time in your account settings or directly from the marketing notification.
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" id="check-label" for="flexCheckDefault">I dont want to receive marketing messages from Airbnb.</label>
  </div>
</form>